<div class="budget-header">
  <h1>Budget App</h1>
</div>
<main>
  <div class="budget-display">{{ total() }}</div>
  <div class="budget-form">
    <form [formGroup]="myForm">
      <input
        type="number"
        placeholder="Value"
        name="value"
        formControlName="value"
        class="value"
      />
      <input
        type="text"
        placeholder="Description"
        formControlName="description"
        class="description"
      />
      <button (click)="onAddClick()">Add</button>
    </form>
  </div>

  <div class="budget-history">
    <div class="income">
      <h1>Income</h1>
      <div
        cdkDropList
        #doneList="cdkDropList"
        [cdkDropListData]="done()"
        [cdkDropListConnectedTo]="[expenseList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
        @for (item of done(); track $index) {
        <div class="card" cdkDrag>{{ item }} {{ description }}</div>
        }
      </div>
    </div>
    <div class="expense">
      <h1>Expense</h1>
      <div
        cdkDropList
        #expenseList="cdkDropList"
        [cdkDropListData]="expense()"
        class="example-list"
        [cdkDropListConnectedTo]="[doneList]"
        (cdkDropListDropped)="drop($event)"
      >
        @for (item of expense(); track $index) {
        <div class="card" cdkDrag>{{ item }} {{ description }}</div>
        }
      </div>
    </div>
  </div>
</main>
